.navbar {
  background: #e6f0ff;
  padding: 1rem;
  text-align: center;
}
.navbar a {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
}
.description {
    max-width: 1000px;
    margin: 0 auto;       /* centers horizontally */
    padding: 20px;
}
.grid_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 15px;
    max-width: 1000px;
    margin: auto;
}
.grid_3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 images per row */
    gap: 15px;
    max-width: 1000px;
    margin: auto;
}
.grid_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 15px;
    max-width: 500px;
    margin: auto;
}
.grid_5 {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 3 images per row */
    gap: 15px;
    max-width: 1000px;
    margin: auto;
}
figure {
    margin: 0;
    text-align: center;
}
figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
figcaption {
    margin-top: 6px;
    font-size: 14px;
    color: #444;
}

.formula {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.q9_formula {
  width: 20%;
  height: auto;
  border-radius: 8px;
}
/* pre.matrix {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 7px;
  line-height: 1.3;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px 14px;
  white-space: pre;   
  overflow: auto;     
  max-height: 75vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
} */
pre.matrix {
 font-size: 7px;
}
.matrix-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row */
  gap: 15px;
  max-width: 1000px;
  margin: auto;
}
.row { display:flex; gap:12px; align-items:center; flex-wrap:wrap; margin-bottom:12px; }
.hint { color:#666; font-size:.9rem; }